<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
        <ion-title>Home</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-item *ngFor="let user of users">
        <ion-thumbnail item-left>
            <img style="width: 100%; height:100%;" [src]="user.post_image_content">
        </ion-thumbnail>
    </ion-item>
    <div class="item item-divider">
        Berita Terbaru
    </div>
    <ion-item *ngFor="let user of users">
        <ion-thumbnail item-left>
            <img [src]="user.post_image_thumb">
        </ion-thumbnail>
        <h2 [innerText]="user.post_title"></h2>
        <p>{{user.post_name}}</p>
    </ion-item>

</ion-content>