<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
        <ion-title>Home</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>

    <ion-item text-wrap *ngFor="let headline of headlines" (click)="openNavDetailsPage(headline.post_id)">
        <img [src]=" headline.post_image_content ">
    </ion-item>


    <div class="box ">

        Berita Terbaru

    </div>

    <ion-item text-wrap *ngFor="let headline1 of headliness " (click)="openNavDetailsPage(headline1.post_id) ">
        <ion-thumbnail item-left>
            <img [src]="headline1.post_image_thumb ">
        </ion-thumbnail>
        <h2 [innerText]="headline1.post_title "></h2>
        <p> {{headline1.tanggal}} {{headline1.post_date}} </p>
    </ion-item>

</ion-content>