page-detail {
    .bold {
        font-size: 20px;
        color: black;
    }
    .center {
        font-size: 20px;
        color: black;
        text-align: center;
    }
    .left {
        text-align: left;
    }
}